In [1]:
#Importing necessary libraries
from dotenv import load_dotenv
import os 
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import hopsworks
import re 
#prepocessing
import requests
import json
import pandas_market_calendars as mcal
import datetime
import numpy as np
from datetime import datetime, timedelta
load_dotenv()

True

In [2]:
#Connecting to Alpha vantage using API key
api_key = os.environ.get('STOCK_API')
ts = TimeSeries(key=api_key, output_format='pandas')

# Fetch daily adjusted stock prices; adjust the symbol as needed
data, meta_data = ts.get_daily(symbol='AMD', outputsize='full')

print(data.head())

            1. open  2. high    3. low  4. close   5. volume
date
2024-10-14  167.770   168.90  165.1500    165.27  31757205.0
2024-10-11  164.185   169.35  163.0101    167.89  42136175.0
2024-10-10  169.760   172.01  162.0000    164.18  75113590.0
2024-10-09  174.050   174.05  169.5500    171.02  33890735.0
2024-10-08  171.750   173.60  170.0000    172.80  34730152.0

In [3]:
#taking a look into what the data contains of the AMD stock
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6278 entries, 2024-10-14 to 1999-11-01
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    6278 non-null   float64
 1   2. high    6278 non-null   float64
 2   3. low     6278 non-null   float64
 3   4. close   6278 non-null   float64
 4   5. volume  6278 non-null   float64
dtypes: float64(5)
memory usage: 294.3 KB

In [4]:
#Here we see the american stock markets opening times, if it runs on a monday before 15:xx, ideally we want it to run once the market closes friday and then again before makret opening a tuesday etc
meta_data

{'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
 '2. Symbol': 'AMD',
 '3. Last Refreshed': '2024-10-14',
 '4. Output Size': 'Full size',
 '5. Time Zone': 'US/Eastern'}

In [5]:
#Stock market:
def today_is_a_business_day(today):
    # Get the NYSE calendar
    cal = mcal.get_calendar('NYSE')
    schedule = cal.schedule(start_date=today, end_date=today) # Get the NYSE calendar's open and close times for the specified period
    try:
        isBusinessDay = schedule.market_open.dt.strftime('%Y-%m-%d')
        return True
    except:
        print('Today {} is not a business day'.format(today))
        return False

In [6]:
#Defining a function to find the next business day
def next_business_day(today):
    
    # Real tomorrow
    tomorrow = (today + timedelta(days=1)).strftime("%Y-%m-%d")
    
    # Get the NYSE calendar
    cal = mcal.get_calendar('NYSE')

    found_next_business_day = False 
    while not found_next_business_day:
        schedule = cal.schedule(start_date=tomorrow, end_date=tomorrow) # Get the NYSE calendar's open and close times for the specified period
        try:
            isBusinessDay = schedule.market_open.dt.strftime('%Y-%m-%d') # Only need a list of dates when it's open (not open and close times)
            found_next_business_day = True
        except:
            print('The date {} is not a business day'.format(tomorrow))
            tomorrow = (datetime.datetime.strptime(tomorrow,"%Y-%m-%d") + timedelta(days=1)).strftime("%Y-%m-%d")
            
    return isBusinessDay.to_numpy()[0]

In [7]:
#Defining a function to extract business day
def extract_business_day(start_date,end_date):
    """
    Given a start_date and end_date.
    
    `Returns`:
    
    isBusinessDay: list of str (with all dates being business days)
    is_open: boolean list
        e.g is_open = [1,0,...,1] means that start_date = open, day after start_date = closed, and end_date = open
    """
    
    # Saving for later
    end_date_save = end_date
    
    # Getting the NYSE calendar
    cal = mcal.get_calendar('NYSE')

    # Getting the NYSE calendar's open and close times for the specified period
    schedule = cal.schedule(start_date=start_date, end_date=end_date)
    
    # Only need a list of dates when it's open (not open and close times)
    isBusinessDay = np.array(schedule.market_open.dt.strftime('%Y-%m-%d')) 
    
    # Going over all days: 
    delta = datetime.timedelta(days=1)
    start_date = datetime.datetime.strptime(start_date,"%Y-%m-%d") #datetime.date(2020, 10, 4)
    end_date = datetime.datetime.strptime(end_date,"%Y-%m-%d") #datetime.date(2024, 10, 4)
    
    # Extracting days from the timedelta object
    num_days = (end_date - start_date).days + 1
    
    # Creating a boolean array for days being open (1) and closed (0) 
    is_open = np.zeros(num_days)
    
    # iterate over range of dates
    current_BusinessDay = isBusinessDay[0]
    count_dates = 0
    next_BusinessDay = 0
    
    while (start_date <= end_date):
    
        if start_date.strftime('%Y-%m-%d') == current_BusinessDay:
            is_open[count_dates] = True

            if current_BusinessDay == end_date_save or current_BusinessDay==isBusinessDay[-1]:
                break
            else:
                next_BusinessDay += 1
                current_BusinessDay = isBusinessDay[next_BusinessDay]
        else:
            is_open[count_dates] = False

        count_dates += 1   
        start_date += delta
        
    print(np.shape(is_open))
        
    return isBusinessDay, is_open

In [8]:
#Defining a function to clean the column names
def clean_column_name(name):
    # Remove all non-letter characters
    cleaned_name = re.sub(r'[^a-zA-Z]', '', name)
    return cleaned_name

In [9]:
data.columns = [clean_column_name(col) for col in data.columns]

In [10]:
data.head()

               open    high       low   close      volume
date
2024-10-14  167.770  168.90  165.1500  165.27  31757205.0
2024-10-11  164.185  169.35  163.0101  167.89  42136175.0
2024-10-10  169.760  172.01  162.0000  164.18  75113590.0
2024-10-09  174.050  174.05  169.5500  171.02  33890735.0
2024-10-08  171.750  173.60  170.0000  172.80  34730152.0

In [11]:
data.reset_index(inplace=True)

In [12]:
# Define the date range we're interested in
yesterday =datetime.now()-timedelta(days=1)
two_years_back = yesterday - timedelta(days=729)

In [13]:
# Filtering the DataFrame to this range
filtered_df = data[(data['date'] >= two_years_back) & (data['date'] <= yesterday)]

In [14]:
filtered_df.head(10)

        date     open      high       low   close      volume
0 2024-10-14  167.770  168.9000  165.1500  165.27  31757205.0
1 2024-10-11  164.185  169.3500  163.0101  167.89  42136175.0
2 2024-10-10  169.760  172.0100  162.0000  164.18  75113590.0
3 2024-10-09  174.050  174.0500  169.5500  171.02  33890735.0
4 2024-10-08  171.750  173.6000  170.0000  172.80  34730152.0
5 2024-10-07  171.080  172.4100  168.2100  170.97  38379930.0
6 2024-10-04  166.533  171.2100  164.4200  170.90  44640296.0
7 2024-10-03  159.710  166.7894  159.4000  162.85  29598787.0
8 2024-10-02  159.310  163.1000  158.6689  159.78  24630431.0
9 2024-10-01  164.480  165.4000  158.0800  159.75  31831860.0

In [15]:
print(filtered_df['date'].min())
print(filtered_df['date'].max())

2022-10-17 00:00:00
2024-10-14 00:00:00

In [16]:
filtered_df.shape

(501, 6)